<h1>SchoolDetails#show</h1>
<p>
  <strong>School name:</strong>
  <%= @school.school_name %>
</p>

<p>
  <strong>School address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>School city:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>School state:</strong>
  <%= @school.state %>
</p>

<p>
  <strong>School pin_code:</strong>
  <%= @school.pin_code %>
</p>


<p>
  <strong>School affiliated_board:</strong>
  <%= @school.affiliated_board %>
</p>